.profile-body {
  background: #f7f6ec;
  color: #0a0d13;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f7f6ec;
  border-bottom: 1px solid #242323;
  color: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  width: 98%;
  z-index: 10;
}

.navbar a {
  color: rgb(0, 0, 0);
  margin: 0 10px;
  text-decoration: none;
}

.navbar-left,
.navbar-center,
.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-center {
  flex-grow: 1;
  justify-content: center;
}

.navbar-right {
  justify-content: flex-end;
}

.profile-logo {
  height: 30px;
  margin-right: 10px;
  border-radius: 50%; /* Make the profile picture circular */
}

.company-logo,
.cart-icon {
  height: 20px;
  margin-right: 10px;
}

.search-bar {
  padding: 5px;
  border-radius: 5px;
  border: none;
  margin-right: 20px;
}

.profile {
  display: flex;
  width: auto;
  padding: 20px;
  margin-bottom: 200px;
}

.sidebar {
  flex: 2;
  padding-left: 0;
}

.profile-ul {
  display: inline-flex;
  flex-direction: column;
}

.sidebar .side-link {
  color: #0a0d13;
  font-size: 50px;
  font-style: normal;
  text-decoration: none;
  text-align: left;
}

.header {
  color: #0a0d13;
  font-size: 100px;
  font-style: normal;
  text-align: left;
  padding: 60px;
}

.profil {
  flex: 3;
}

.form-group {
  margin-bottom: 15px;
}

.label {
  display: block;
  margin-bottom: 5px;
  text-align: right;
  font-family: "Neue Montreal";
  font-size: 20px;
  font-style: normal;
}

.input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.button {
  color: #0a0d13;
  padding: 10px 20px;
  border: 2px solid #000;
  border-radius: 29px;
  cursor: pointer;
  float: right;
  display: inline-block;
  margin: 0 auto;
  font-family: "Neue Montreal";
  font-size: 20px;
  font-style: normal;
}

@media screen and (max-width: 768px) {
  .profile {
    flex-direction: column;
  }
  .sidebar {
    flex: 1;
  }
  .profil {
    flex: 1;
  }
}

@media screen and (max-width: 600px) {
  .header {
    font-size: 60px;
  }
  .side-link {
    font-size: 30px;
  }
  .button {
    font-size: 16px;
  }
}
